div {
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(170, 190, 255);
  flex-direction: column;
}

.test {
  padding: 160px;
  border-radius: 20px;
  box-shadow:  20px 20px 60px #2f4a5a, 
             -20px -20px 60px rgb(170, 190, 255);
  transition: .1s ease-out all;
  cursor: pointer;
  margin-top: 50px;
}
.test:hover {
  box-shadow:  10px 10px 30px #2f4a5a, 
             -10px -10px 30px rgb(170, 190, 255);
}
.test:active {
  box-shadow:  6px 6px 10px #2f4a5a, 
             -6px -6px 10px rgb(170, 190, 255);
}

.input-wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  row-gap: 20px;
}
input {
  width: 300px;
  margin: 0 20px;
}

@media (max-width: 768px) {
  input {
    width: 100%;
  }
}